.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 20px !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Manrope;
}
.display-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 8.125rem;
  line-height: 108%;
}
.display-1 > .mbr-iconfont {
  font-size: 10.15625rem;
}
.display-2 {
  font-family: 'Manrope', sans-serif;
  font-size: 4.375rem;
  line-height: 76px;
}
.display-2 > .mbr-iconfont {
  font-size: 5.46875rem;
}
.display-4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.125rem;
  line-height: 26px;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Manrope', sans-serif;
  font-size: 2.625rem;
  line-height: 128%;
}
.display-5 > .mbr-iconfont {
  font-size: 3.28125rem;
}
.display-7 {
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  line-height: 35px;
}
.display-7 > .mbr-iconfont {
  font-size: 2.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.6875rem;
    font-size: calc( 3.4937499999999995rem + (8.125 - 3.4937499999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.4937499999999995rem + (8.125 - 3.4937499999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.5rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.1rem;
    font-size: calc( 1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f4acb7 !important;
}
.bg-success {
  background-color: #85e8ba !important;
}
.bg-info {
  background-color: #75e2f8 !important;
}
.bg-warning {
  background-color: #ffdb6e !important;
}
.bg-danger {
  background-color: #ea838d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f4acb7 !important;
  border-color: #f4acb7 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #fad9de !important;
  border-color: #fad9de !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fad9de !important;
  border-color: #fad9de !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #819d87 !important;
  border-color: #819d87 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #9eb3a2 !important;
  border-color: #9eb3a2 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #9eb3a2 !important;
  border-color: #9eb3a2 !important;
}
.btn-info,
.btn-info:active {
  background-color: #75e2f8 !important;
  border-color: #75e2f8 !important;
  color: #055869 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #a6ecfa !important;
  border-color: #a6ecfa !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #055869 !important;
  background-color: #a6ecfa !important;
  border-color: #a6ecfa !important;
}
.btn-success,
.btn-success:active {
  background-color: #85e8ba !important;
  border-color: #85e8ba !important;
  color: #115d3a !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #b0f0d2 !important;
  border-color: #b0f0d2 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #115d3a !important;
  background-color: #b0f0d2 !important;
  border-color: #b0f0d2 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffdb6e !important;
  border-color: #ffdb6e !important;
  color: #6e5300 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffe8a1 !important;
  border-color: #ffe8a1 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #6e5300 !important;
  background-color: #ffe8a1 !important;
  border-color: #ffe8a1 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ea838d !important;
  border-color: #ea838d !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #f1afb5 !important;
  border-color: #f1afb5 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f1afb5 !important;
  border-color: #f1afb5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
  color: #787878 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #787878 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f4acb7;
  color: #f4acb7;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ea5f75 !important;
  background-color: transparent !important;
  border-color: #ea5f75 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f4acb7 !important;
  border-color: #f4acb7 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #819d87;
  color: #819d87;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #57705d !important;
  background-color: transparent !important;
  border-color: #57705d !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #819d87 !important;
  border-color: #819d87 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #75e2f8;
  color: #75e2f8;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #22d1f4 !important;
  background-color: transparent !important;
  border-color: #22d1f4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #055869 !important;
  background-color: #75e2f8 !important;
  border-color: #75e2f8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #85e8ba;
  color: #85e8ba;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3cda91 !important;
  background-color: transparent !important;
  border-color: #3cda91 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #115d3a !important;
  background-color: #85e8ba !important;
  border-color: #85e8ba !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffdb6e;
  color: #ffdb6e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffc517 !important;
  background-color: transparent !important;
  border-color: #ffc517 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #6e5300 !important;
  background-color: #ffdb6e !important;
  border-color: #ffdb6e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ea838d;
  color: #ea838d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #dd3949 !important;
  background-color: transparent !important;
  border-color: #dd3949 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ea838d !important;
  border-color: #ea838d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f4acb7 !important;
}
.text-secondary {
  color: #819d87 !important;
}
.text-success {
  color: #85e8ba !important;
}
.text-info {
  color: #75e2f8 !important;
}
.text-warning {
  color: #ffdb6e !important;
}
.text-danger {
  color: #ea838d !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #e85269 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #516855 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #2fd889 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #14cef3 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffc208 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #db2c3d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f4acb7;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #75e2f8;
}
.alert-warning {
  background-color: #ffdb6e;
}
.alert-danger {
  background-color: #ea838d;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f4acb7;
  border-color: #f4acb7;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f4acb7;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  line-height: 35px;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f4acb7 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  line-height: 35px;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.5rem;
}
blockquote {
  border-color: #f4acb7;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f4acb7;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f4acb7;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f4acb7;
  border-bottom-color: #f4acb7;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f4acb7 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #819d87 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../../../data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f4acb7' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  padding: 4px 20px;
  border-radius: 110px !important;
  flex-direction: row-reverse;
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  margin: 0 8px 0 0;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  opacity: .8;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline,
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline,
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline,
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline,
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline,
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline,
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline,
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline {
  border: none;
}
.cid-uEjzoJg2yM {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJg2yM .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEjzoJg2yM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEjzoJg2yM .container-fluid {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJg2yM .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJg2yM .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJg2yM .content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 64px 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJg2yM .content-wrapper {
    padding: 46px 20px;
  }
}
.cid-uEjzoJg2yM .content-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
  object-fit: cover;
  animation: none;
}
.cid-uEjzoJg2yM .content-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  border-radius: 20px !important;
  background-color: #9d8189;
  opacity: 0.6;
}
.cid-uEjzoJg2yM .content-wrapper .title-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 250px;
}
@media (max-width: 992px) {
  .cid-uEjzoJg2yM .content-wrapper .title-wrapper {
    margin-bottom: 150px;
  }
}
@media (max-width: 768px) {
  .cid-uEjzoJg2yM .content-wrapper .title-wrapper {
    margin-bottom: 46px;
  }
}
.cid-uEjzoJg2yM .content-wrapper .title-wrapper .mbr-desc {
  margin-bottom: 32px;
}
.cid-uEjzoJg2yM .content-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-uEjzoJg2yM .content-wrapper .content-wrap {
  position: relative;
  z-index: 1;
}
.cid-uEjzoJg2yM .content-wrapper .content-wrap .icon-wrapper {
  display: block;
  margin-bottom: 108px;
}
@media (max-width: 992px) {
  .cid-uEjzoJg2yM .content-wrapper .content-wrap .icon-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uEjzoJg2yM .content-wrapper .content-wrap .icon-wrapper:hover .mbr-iconfont,
.cid-uEjzoJg2yM .content-wrapper .content-wrap .icon-wrapper:focus .mbr-iconfont {
  color: #ffffff;
  background-color: #000000;
}
.cid-uEjzoJg2yM .content-wrapper .content-wrap .icon-wrapper .mbr-iconfont {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
.cid-uEjzoJg2yM .content-wrapper .content-wrap .mbr-name {
  margin-bottom: 16px;
}
.cid-uEjzoJg2yM .content-wrapper .content-wrap .mbr-desc {
  margin-bottom: 16px;
}
.cid-uEjzoJg2yM .mbr-section-title {
  color: #ffffff;
}
.cid-uEjzoJg2yM .mbr-desc {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJg2yM .mbr-text,
.cid-uEjzoJg2yM .text-wrap {
  color: #ffffff;
  text-align: center;
}
.cid-uEjzoJg2yM .mbr-name {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJg2yM .mbr-role {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJg2yM .mbr-section-title,
.cid-uEjzoJg2yM .mbr-section-btn,
.cid-uEjzoJg2yM .icon-wrapper {
  text-align: center;
  color: #000000;
}
.cid-uEjzoJh8Yd {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJh8Yd .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEjzoJh8Yd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEjzoJh8Yd .container-fluid {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJh8Yd .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJh8Yd .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJh8Yd .content-wrapper {
  padding: 60px 0;
}
@media (max-width: 992px) {
  .cid-uEjzoJh8Yd .content-wrapper {
    padding: 46px 0;
  }
}
.cid-uEjzoJh8Yd .content-wrapper .mbr-desc {
  margin-bottom: 32px;
}
.cid-uEjzoJh8Yd .content-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
.cid-uEjzoJh8Yd .content-wrapper .text-wrapper .mbr-text {
  display: inline-flex;
  width: 40%;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-uEjzoJh8Yd .content-wrapper .text-wrapper .mbr-text {
    margin-bottom: 20px;
    width: 100%;
  }
}
.cid-uEjzoJh8Yd .content-wrapper .image-wrapper img {
  display: inline-flex;
  width: 50%;
  border-radius: 20px !important;
  object-fit: cover;
  height: 280px;
}
@media (max-width: 992px) {
  .cid-uEjzoJh8Yd .content-wrapper .image-wrapper img {
    width: 100%;
  }
}
.cid-uEjzoJh8Yd .content-wrapper .mbr-section-btn {
  margin-top: 60px;
}
@media (max-width: 992px) {
  .cid-uEjzoJh8Yd .content-wrapper .mbr-section-btn {
    margin-top: 20px;
  }
}
.cid-uEjzoJh8Yd .mbr-section-title {
  color: #000000;
}
.cid-uEjzoJh8Yd .mbr-desc {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJh8Yd .mbr-text,
.cid-uEjzoJh8Yd .text-wrapper {
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
}
.cid-uEjzoJh8Yd .mbr-section-title,
.cid-uEjzoJh8Yd .mbr-section-btn,
.cid-uEjzoJh8Yd .image-wrapper {
  text-align: center;
}
.cid-uEjzoJi6cD {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJi6cD .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEjzoJi6cD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEjzoJi6cD .container-fluid {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJi6cD .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJi6cD .row {
  justify-content: center;
  padding: 60px 0;
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .row {
    padding: 46px 0;
  }
}
.cid-uEjzoJi6cD .item {
  margin-bottom: 32px;
}
.cid-uEjzoJi6cD .item .item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px !important;
  background-color: #f3f6f9;
  overflow: hidden;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-img img {
  height: 340px;
  border-radius: 0 !important;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-img img {
    height: 300px;
  }
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content {
  padding: 32px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-content {
    padding: 32px 20px;
  }
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc {
    display: block;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc .icon-wrapper {
    margin-bottom: 20px;
  }
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc .icon-wrapper .mbr-iconfont {
  font-size: 54px;
  color: #999c9f;
  margin-right: 32px;
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc .icon-wrapper .mbr-iconfont {
    margin-right: 0;
  }
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc .list {
  display: inline-flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 768px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc .list {
    justify-content: flex-start;
  }
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc .list .item-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 12px 16px;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .item-desc .list .item-wrap:last-child {
  margin-right: 0;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper {
    display: block;
  }
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .title-wrap {
  width: 60%;
}
@media (max-width: 992px) {
  .cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .title-wrap {
    margin-bottom: 20px;
    width: 100%;
  }
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .title-wrap .item-title {
  margin-bottom: 8px;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .title-wrap .item-text {
  margin-bottom: 0;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .social-wrapper {
  display: flex;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .social-wrapper .soc-item a {
  display: block;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .social-wrapper .soc-item a:hover .mbr-iconfont,
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .social-wrapper .soc-item a:hover .mbr-iconfont {
  color: #000000;
  background-color: #ffffff;
}
.cid-uEjzoJi6cD .item .item-wrapper .item-content .title-wrapper .social-wrapper .soc-item a .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}
.cid-uEjzoJi6cD .item-title {
  color: #000000;
}
.cid-uEjzoJi6cD .item-text {
  color: #000000;
}
.cid-uEjzoJi6cD .list {
  color: #000000;
}
.cid-uEjzoJklFW {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJklFW .container-fluid {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJklFW .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJklFW .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJklFW .content-wrapper {
  padding: 60px 0;
}
@media (max-width: 992px) {
  .cid-uEjzoJklFW .content-wrapper {
    padding: 46px 0;
  }
}
.cid-uEjzoJklFW .content-wrapper .content-wrap {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-uEjzoJklFW .content-wrapper .content-wrap {
    margin-bottom: 46px;
  }
}
.cid-uEjzoJklFW .content-wrapper .content-wrap .mbr-desc {
  margin-bottom: 32px;
}
.cid-uEjzoJklFW .content-wrapper .content-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-uEjzoJklFW .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJklFW .mbr-desc {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJklFW .google-map {
  height: 30rem;
  border-radius: 20px;
  position: relative;
}
.cid-uEjzoJklFW .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-uEjzoJklFW .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uEjzoJklFW .google-map[data-state] {
  background: #e9e5dc;
}
.cid-uEjzoJklFW .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-uEjzoJklFW iframe {
  border-radius: 20px !important;
}
.cid-uEjzoJqElD {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJqElD .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEjzoJqElD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEjzoJqElD .container-fluid {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJqElD .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJqElD .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJqElD .content-wrapper {
  background-color: #9d8189;
  border-radius: 20px;
  overflow: hidden;
}
.cid-uEjzoJqElD .content-wrapper .content-wrap {
  padding: 60px 60px 100px;
}
@media (max-width: 992px) {
  .cid-uEjzoJqElD .content-wrapper .content-wrap {
    padding: 46px 20px 46px;
  }
}
.cid-uEjzoJqElD .content-wrapper .content-wrap .mbr-desc {
  margin-bottom: 32px;
}
.cid-uEjzoJqElD .content-wrapper .content-wrap .mbr-section-title {
  margin-bottom: 32px;
}
.cid-uEjzoJqElD .content-wrapper .content-wrap .text-wrapper .mbr-text {
  display: inline-flex;
  width: 40%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEjzoJqElD .content-wrapper .content-wrap .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-uEjzoJqElD .mbr-figure iframe {
  border-radius: 0 !important;
  height: 800px !important;
}
@media (max-width: 992px) {
  .cid-uEjzoJqElD .mbr-figure iframe {
    height: 400px !important;
  }
}
.cid-uEjzoJqElD .mbr-figure .app-video-wrapper img {
  border-radius: 0 !important;
  height: 800px !important;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uEjzoJqElD .mbr-figure .app-video-wrapper img {
    height: 400px !important;
  }
}
.cid-uEjzoJqElD .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-uEjzoJqElD .mbr-desc {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJqElD .mbr-text,
.cid-uEjzoJqElD .text-wrapper {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJqElD .mbr-section-title,
.cid-uEjzoJqElD .mbr-section-btn,
.cid-uEjzoJqElD .items-wrapper {
  color: #000000;
}
.cid-uEjzoJqip2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJqip2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEjzoJqip2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEjzoJqip2 .container-fluid {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJqip2 .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJqip2 .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJqip2 .content-wrapper {
  padding: 60px 0;
}
@media (max-width: 992px) {
  .cid-uEjzoJqip2 .content-wrapper {
    padding: 46px 0;
  }
}
.cid-uEjzoJqip2 .content-wrapper .content-wrap {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-uEjzoJqip2 .content-wrapper .content-wrap {
    margin-bottom: 46px;
  }
}
.cid-uEjzoJqip2 .content-wrapper .content-wrap .mbr-desc {
  margin-bottom: 32px;
}
.cid-uEjzoJqip2 .content-wrapper .content-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card {
  border-radius: 20px !important;
  background-color: #f3f6f9;
  margin-bottom: 12px;
  padding: 60px;
}
@media (max-width: 992px) {
  .cid-uEjzoJqip2 .content-wrapper .panel-group .card {
    padding: 46px 20px;
  }
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card .card-header {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card .card-header .panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card .card-header .panel-title .panel-title-edit {
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEjzoJqip2 .content-wrapper .panel-group .card .card-header .panel-title .panel-title-edit {
    width: auto;
  }
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card .card-header .panel-title .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  transition: all 0.3s ease-in-out;
  color: #000000;
  margin-left: 16px;
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card .card-header .panel-title:not(.collapsed) .mbr-iconfont {
  transform: rotate(45deg);
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card .panel-collapse .panel-body {
  padding-top: 60px;
}
@media (max-width: 992px) {
  .cid-uEjzoJqip2 .content-wrapper .panel-group .card .panel-collapse .panel-body {
    padding-top: 46px;
  }
}
.cid-uEjzoJqip2 .content-wrapper .panel-group .card .panel-collapse .panel-body .panel-text {
  display: inline-flex;
  width: 30%;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .cid-uEjzoJqip2 .content-wrapper .panel-group .card .panel-collapse .panel-body .panel-text {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJqip2 .content-wrapper .panel-group .card .panel-collapse .panel-body .panel-text {
    width: 100%;
  }
}
.cid-uEjzoJqip2 .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJqip2 .mbr-desc {
  color: #000000;
  text-align: center;
}
.cid-uEjzoJqip2 .panel-title-edit {
  color: #000000;
}
.cid-uEjzoJqip2 .panel-text {
  color: #000000;
}
.cid-uEjzoJv7rH {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJv7rH .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEjzoJv7rH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEjzoJv7rH .container-fluid {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .cid-uEjzoJv7rH .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJv7rH .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJv7rH .content-wrapper .mbr-section-title {
  padding: 60px 0;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEjzoJv7rH .content-wrapper .mbr-section-title {
    padding: 46px 0;
  }
}
.cid-uEjzoJv7rH .content-wrapper .items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  width: 100%;
}
.cid-uEjzoJv7rH .content-wrapper .items-wrapper .item {
  padding: 20px 24px;
  border-radius: 20px !important;
  background-color: #f3f6f9;
  flex-grow: 1;
  width: 260px;
}
@media (max-width: 992px) {
  .cid-uEjzoJv7rH .content-wrapper .items-wrapper .item {
    padding: 20px;
  }
}
.cid-uEjzoJv7rH .content-wrapper .items-wrapper .item .item-wrapper {
  height: 100%;
}
.cid-uEjzoJv7rH .content-wrapper .items-wrapper .item .item-wrapper .card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cid-uEjzoJv7rH .content-wrapper .items-wrapper .item .item-wrapper .card-box .card-title {
  margin-bottom: 40px;
}
.cid-uEjzoJv7rH .content-wrapper .items-wrapper .item .item-wrapper .card-box .icon-wrapper .mbr-iconfont {
  font-size: 48px;
  color: #000000;
  display: inline-flex;
}
.cid-uEjzoJv7rH .mbr-section-title {
  color: #000000;
}
.cid-uEjzoJv7rH .card-number {
  color: #000000;
}
.cid-uEjzoJv7rH .card-title {
  color: #000000;
}
.cid-uEjzoJv7rH .mbr-section-title,
.cid-uEjzoJv7rH .mbr-section-btn {
  text-align: center;
}
.cid-uEjzoJv3X3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-uEjzoJv3X3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEjzoJv3X3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEjzoJv3X3 .container-fluid {
  padding: 0 75px;
}
@media (max-width: 768px) {
  .cid-uEjzoJv3X3 .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-uEjzoJv3X3 .container {
    padding: 0 20px;
  }
}
.cid-uEjzoJv3X3 .row {
  padding: 60px 0;
}
.cid-uEjzoJv3X3 .title-wrapper {
  margin-bottom: 150px;
}
@media (max-width: 992px) {
  .cid-uEjzoJv3X3 .title-wrapper {
    margin-bottom: 40px;
  }
}
.cid-uEjzoJv3X3 .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-uEjzoJv3X3 .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-uEjzoJv3X3 .title-wrapper .mbr-address {
  margin-bottom: 0;
}
.cid-uEjzoJv3X3 .list-wrapper {
  margin-bottom: 150px;
}
@media (max-width: 992px) {
  .cid-uEjzoJv3X3 .list-wrapper {
    margin-bottom: 40px;
  }
}
.cid-uEjzoJv3X3 .list-wrapper .mbr-list-title {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-uEjzoJv3X3 .list-wrapper .mbr-list-title {
    margin-bottom: 20px;
  }
}
.cid-uEjzoJv3X3 .list-wrapper .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cid-uEjzoJv3X3 .list-wrapper .list .item-wrap {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-uEjzoJv3X3 .list-wrapper .list .item-wrap {
    margin-bottom: 20px;
  }
}
.cid-uEjzoJv3X3 .list-wrapper .list .item-wrap:last-child {
  margin-bottom: 0;
}
.cid-uEjzoJv3X3 .list-wrapper .list .item-wrap:hover,
.cid-uEjzoJv3X3 .list-wrapper .list .item-wrap:focus {
  opacity: 0.5;
}
.cid-uEjzoJv3X3 .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: block;
}
@media (max-width: 768px) {
  .cid-uEjzoJv3X3 .content-wrapper {
    display: block;
    margin-bottom: 40px;
  }
}
.cid-uEjzoJv3X3 .content-wrapper .social-wrapper {
  display: inline-flex;
}
@media (max-width: 768px) {
  .cid-uEjzoJv3X3 .content-wrapper .social-wrapper {
    margin-bottom: 40px;
  }
}
.cid-uEjzoJv3X3 .content-wrapper .social-wrapper .soc-item a {
  display: block;
}
.cid-uEjzoJv3X3 .content-wrapper .social-wrapper .soc-item a:hover .mbr-iconfont,
.cid-uEjzoJv3X3 .content-wrapper .social-wrapper .soc-item a:hover .mbr-iconfont {
  background-color: #000000;
  color: #ffffff;
}
.cid-uEjzoJv3X3 .content-wrapper .social-wrapper .soc-item a .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid #000000;
  color: #000000;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  margin-right: 6px;
}
.cid-uEjzoJv3X3 .content-wrapper .mbr-copy {
  margin-bottom: 0;
}
.cid-uEjzoJv3X3 .mbr-section-title {
  color: #000000;
}
.cid-uEjzoJv3X3 .mbr-address {
  color: #000000;
}
.cid-uEjzoJv3X3 .mbr-list-title {
  color: #000000;
}
.cid-uEjzoJv3X3 .list {
  color: #000000;
}
.cid-uEjzoJv3X3 .mbr-copy {
  color: #000000;
}
